@import "../../App.scss";

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-top {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), $background2);
}

.footer-bottom {
  background-color: $background2;
  color: #aaa;
  font-weight: 100;
  font-size: 14px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
