$color1: #8fc1d4;
$color2: #f9ed69;
$color3: #00adb5;

.main-container {
  padding: 20px 20px 150px;
  background-color: #eee;
}

.page-title {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}

.button {
  display: block;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.button-primary {
  background-color: $color1;
  color: #fff;
  &:hover {
    background-color: $color3;
  }
}
