@import "../../App.scss";

.nav-container {
  background-color: rgba(30, 26, 44, 0.6);
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-left,
.nav-right {
  height: 60px;
  display: flex;
  align-items: center;
}

.nav-item,
.nav-link {
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover {
  font-weight: 600;
}

.nav-link:hover {
  border-bottom: 3px solid $color2;
}
